:root {
  --text-primary: #B64E49;
  --text-secondary: #a7e2aa;
  --black: #0f0e0e;
  --white: #fff;
  --secondary: #22633b;
  --primary: #f8f6f6;
}

#root {
  width: 100vw;
  text-align: center;
}

nav ul a {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: var(--text-primary);
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

section:first-child {
  padding: 0;
  width: 100%;
}

section {
  padding: 50px 0;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-primary);
}

h2 {
  font-size:35px;
}

p {
  padding-left: 10%;
  padding-right: 10%;
  color: var(--black);
}

@media (max-width: 768px) {
  p {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.app {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: var(--primary); 
}

.header-row {
  display: flex;
  padding-top: 5px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.download-button {
  padding: 10px 20px;
  background-color: var(--text-primary);
  color: var(--primary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.download-button:hover {
  background-color: var(--text-secondary);
}

#experience,
#skills,
#contact {
  background-color: var(--secondary); 
}

#experience h1, 
#experience h2, 
#experience h3, 
#experience h4, 
#experience h5, 
#experience h6,
#skills h1, 
#skills h2, 
#skills h3, 
#skills h4, 
#skills h5, 
#skills h6,
#contact h1, 
#contact h2, 
#contact h3, 
#contact h4, 
#contact h5, 
#contact h6 {
  color: var(--text-secondary);
}


#experience p,
#experience li,
#skills p,
#skills li,
#contact p,
#contact li {
  color: var(--white);
}


.about-content {
  display: flex;
  align-items: center; /* Vertically align content */
}

.about-text {
  flex: 1; /* Take remaining space */
}

.about-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about-icon {
  width: 50px; 
  height: 50px;
  margin: 10px;
  color: var(--text-primary);
}

.about-icon:hover {
  transform: scale(1.2);
  color: var(--black);
}

.decorative-svg {
  /* Ensure no margin or padding on the container */
  margin: 0;
  padding: 0;
}

.decorative-svg img {
  height: 100%;
  width: auto;
  display: block;
}

@media (max-width: 768px) {
  .decorative-svg img {
    display: none; /* Hide the image on smaller screens */
  }
}

.experience-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-item {
  margin-bottom: 30px;
  max-width: 600px;
  width: 100%;
}

.experience-date,
.experience-company {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bold;
}

.experience-highlights {
  list-style-type: disc;
  text-align: left;
  margin-left: 20px;
}

.projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 10px;
}

.project {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--secondary); 
  flex: 0 1 calc(33.33% - 10px); /* Three projects per row */
  margin-bottom: 20px; /* Adjust spacing between projects */
}

@media (max-width: 1200px) {
  .project {
    flex: 0 1 calc(50% - 10px); /* Two projects per row on medium-sized screens */
  }
}

@media (max-width: 768px) {
  .project {
    flex: 0 1 calc(100% - 20px); /* One project per row on smaller screens */
  }
}

.project p{
  color: var(--white);
}

.project h3{
  color: var(--text-secondary);
}

.project img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.skill-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-icon {
  width: 50px; 
  height: 50px;
  margin: 10px;
  color: var(--text-secondary);
}

.skill-icon:hover {
  transform: scale(1.2);
  color: var(--white);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

footer,
footer p {
  background-color: var(--secondary); 
  color: var(--white);
  padding: 1px 0;
}

footer a {
  color: var(--white);
  text-decoration: underline;
}

footer a:hover {
  color: var(--text-primary); /* Change color on hover */
}

